<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Members Only</h1>
    <p>Welcome to Members Only</p>
    <% if (locals.currentUser) { %>

    <p>Hello <%= currentUser.firstName %>!</p>
    <a href="/new-message">Create a new message</a>
    <a href="/logout">Log Out</a>

    <% } else { %>

    <a href="/sign-up">Sign Up</a>
    <a href="/login">Log In</a>

    <% } %>

    <div>
      <ul>
        <% for (message of messages) { %>
        <li>
          <div>
            <h3><%= message.title %></h3>
            <p><%= message.content %></p>
            <% if (locals.currentUser && currentUser.accessLevel >= 1) { %>
            <p><%= message.user.fullName %></p>
            <p><%= message.createdAtFormatted %></p>
            <% } %>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
