<%- include("header", {title: "Members Only"}) %>

<div class="p-10">
  <nav
    class="flex text-4xl justify-center gap-20 *:shadow *:bg-blue-400 *:px-5 *:py-2 *:rounded-full"
  >
    <% if (locals.currentUser) { %>
    <a href="/messages/new">New Message</a>
    <a href="/user/accessLevel/update">Membership</a>
    <a href="/logout">Log Out</a>

    <% } else { %>

    <a href="/sign-up">Sign Up</a>
    <a href="/login">Log In</a>

    <% } %>
  </nav>

  <main class="py-10 max-w-screen-lg">
    <ul class="flex flex-col gap-10">
      <% for (message of messages) { %>
      <li>
        <div class="bg-blue-400 rounded-lg shadow-lg p-5 flex flex-col">
          <div class="flex justify-between mb-3">
            <h2 class="text-3xl"><%= message.title %></h2>
            <% if (locals.currentUser && currentUser.accessLevel >= 2) {%>
            <form action="/messages/<%= message.id %>/delete" method="post">
              <button class="bg-red-500 font-medium rounded-full px-4 py-1">
                Delete
              </button>
            </form>
            <% } %>
          </div>
          <p><%= message.content %></p>
          <% if (locals.currentUser && currentUser.accessLevel >= 1) { %>
          <p class="self-end font-medium text-blue-900">
            - <%= message.user.fullName %> <%= message.createdAtFormatted %>
          </p>
          <% } %>
        </div>
      </li>
      <% } %>
    </ul>
  </main>
</div>

<%- include("footer") %>
