<%- include("header", {title: "Sign Up"}) %>

<main class="p-5 flex flex-col gap-5 items-center">
  <h2 class="text-5xl text-center">Sign Up</h2>
  <form
    method="post"
    class="bg-blue-400 rounded-lg shadow-lg flex flex-col p-10 gap-5"
  >
    <div class="flex flex-col">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        value="<%= locals.username %>"
      />
    </div>

    <div class="flex flex-col">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= locals.password %>"
      />
    </div>

    <div class="flex flex-col">
      <label for="password-confirm">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        value="<%= locals.confirmPassword %>"
      />
    </div>

    <div class="flex flex-col">
      <label for="firstName"> First Name</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        value="<%= locals.firstName %>"
      />
    </div>

    <div class="flex flex-col">
      <label for="lastName"> Last Name </label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        value="<%= locals.lastName %>"
      />
    </div>

    <button class="btn-submit">Submit</button>
  </form>
  <% if (locals.errors) { %>
  <div class="errors">
    <ul>
      <% for (error of errors) { %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
  </div>
  <% } %>
</main>

<%- include("footer") %>
